.about {
  background-color: $graybg;
  border-top: 1px solid $shitbrown;
  border-bottom: 1px solid $shitbrown;

  h2 {
    font-weight: 500;
    font-size: 1.5rem;
    @include respond-above(vsmall) {
      text-align: center;
      font-size: 1.5rem;
      padding-top: 0.5rem;
    }

    @include respond-above(small) {
      text-align: center;
      font-size: 1.5rem;
    }

    @include respond-above(xsmall) {
      text-align: left;
      font-size: 1.2rem;
    }

    @include respond-above(medium) {
      font-size: 1.4rem;
      text-align: left;
    }
    @include respond-above(xmedium) {
      font-size: 1.5rem;
      text-align: left;
    }

    @include respond-above(large) {
      font-size: 1.6rem;
    }
    @include respond-above(laptop) {
      font-size: 1.9rem;
    }
    @include respond-above(xlarge) {
      font-size: 2rem;
    }
  }
  p {
    color: $woodbrown;
    font-size: 1rem;
    padding: 1rem 1rem;

    @include respond-above(small) {
      margin: 0;
      padding: 10px 0;
      font-size: 1rem;
    }
    @include respond-above(xsmall) {
      margin: 0;

      font-size: 0.95rem;
    }

    @include respond-above(medium) {
      font-size: 1rem;
    }

    @include respond-above(xmedium) {
      font-size: 1.1rem;
    }

    @include respond-above(large) {
      font-size: 1.1rem;
    }
    @include respond-above(laptop) {
      font-size: 1.2rem;
    }
    @include respond-above(xlarge) {
      font-size: 1.3rem;
    }

    // @include respond-below(xmedium) {
    //   font-size: 0.8rem;
    // }
  }
  &__image {
    @include respond-above(vsmall) {
      padding-bottom: 10px;
      width: 350px;
      margin: 0 auto;
    }
    @include respond-above(small) {
      padding-bottom: 20px;
    }
    @include respond-above(xsmall) {
      position: relative;
      width: 350px;
    }
    @include respond-above(medium) {
      width: 350px;
    }

    @include respond-above(laptop) {
      width: 400px;
    }

    @include respond-above(xlarge) {
      width: 450px;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 10px;
      -webkit-box-shadow: 5px 6px 4px -2px rgba(0, 0, 0, 0.8);
      box-shadow: 5px 6px 4px -2px rgba(0, 0, 0, 0.8);

      @include respond-above(xsmall) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__us {
    display: flex;
    flex-direction: column;

    @include respond-above(small) {
      padding: 0 50px;
      width: 70%;
      margin: 0 auto;
    }
    @include respond-above(xsmall) {
      width: 50%;
      padding: 0 25px;
    }
    @include respond-above(medium) {
      padding: 0 20px;
      width: 50%;
      align-items: flex-start;
    }
  }
  &__container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    @include respond-above(small) {
      flex-direction: column;
    }

    @include respond-above(xsmall) {
      flex-direction: row;
      margin: 0 25px;
    }

    @include respond-above(medium) {
      flex-direction: row;
      margin: 0 50px;
    }

    @include respond-above(large) {
      margin: 0 150px;
    }
    @include respond-above(laptop) {
      margin: 0 200px;
    }
    @include respond-above(xlarge) {
      margin: 0 300px;
    }
  }
}
