.events {
  &__container {
    border-top: 1px solid #322b0f;
    border-bottom: 1px solid #322b0f;
    background-color: $graybg;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
  }
}
