$breakpoints: (
  vsmall: 300px,
  small: 500px,
  medium: 800px,
  xmedium: 1000px,
  large: 1200px,
  laptop: 1400px,
  xlarge: 1600px,
);

$graybg: rgba(196, 196, 196, 0.25);
$maingreen: #aad03d;
$shitbrown: #322b0f;
$woodbrown: #221d0b;
$lightgreen: #f1f5e4;

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'invalid breakpoint: #{$breakpoint}';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'invalid breakpoint: #{$breakpoint}';
  }
}
