@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
}

.btn {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  color: #322b0f;
  border: none;
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: "Red Hat Text", sans-serif;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 50px;
}

@media (min-width: 800px) {
  .header {
    margin: 25px 50px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin: 50px 150px;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 20px 10px;
  }
}

@media (max-width: 300px) {
  .header {
    margin: 0;
  }
}

.header__logo img {
  max-width: 150px;
}

@media (min-width: 500px) {
  .header__logo img {
    max-width: 200px;
  }
}

@media (min-width: 800px) {
  .header__logo img {
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .header__logo img {
    max-width: 300px;
  }
}

.header__nav {
  width: 100%;
  position: relative;
}

@media (min-width: 800px) {
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .nav-mobile {
  z-index: 5;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  background-color: #181408;
  -webkit-box-shadow: -15px 0px 15px 0px rgba(50, 43, 15, 0.82);
  box-shadow: -15px 0px 15px 0px rgba(50, 43, 15, 0.82);
}

@media (min-width: 800px) {
  .header .nav-mobile {
    display: none;
  }
}

.header .nav-mobile .nav__list {
  margin: 150px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav-mobile .nav__link {
  color: white;
}

.header .nav-mobile .nav__link:hover {
  color: white;
}

.header .active {
  width: 300px;
}

.header .nav-desktop {
  display: none;
}

@media (min-width: 800px) {
  .header .nav-desktop {
    display: block;
  }
}

.header .nav-desktop .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__item {
  height: 50px;
  width: auto;
  right: 0;
}

@media (min-width: 800px) {
  .header .nav__item {
    padding: 0 0.68rem;
  }
}

@media (min-width: 1000px) {
  .header .nav__item {
    padding: 0 0.9rem;
  }
}

@media (min-width: 1200px) {
  .header .nav__item {
    padding: 0 1.1rem;
  }
}

.header .nav__link {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .header .nav__link {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) {
  .header .nav__link {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .header .nav__link {
    font-size: 1.2rem;
  }
}

.header .nav__link:hover:after {
  position: absolute;
  -webkit-text-decoration: underline #aad03d;
          text-decoration: underline #aad03d;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.header .nav__link:hover {
  color: #181408;
}

.header .nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid #aad03d;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.slider {
  background-color: rgba(196, 196, 196, 0.25);
  border-top: 1px solid #322b0f;
}

.slider__container {
  height: 30vh;
  position: relative;
  border-bottom: 1px solid #322b0f;
}

.container__image {
  position: absolute;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.textarea {
  position: absolute;
  font-size: 2.5rem;
  z-index: 20;
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.textarea__text {
  position: absolute;
  top: -100%;
  text-shadow: 3px 3px 2px rgba(34, 33, 33, 0.5);
  left: 10%;
  color: white;
  font-weight: 500;
  width: 60%;
}

@media (min-width: 800px) {
  .textarea__text {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .textarea__text {
    font-size: 52px;
  }
}

@media (min-width: 1600px) {
  .textarea__text {
    font-size: 72px;
  }
}

.text.show {
  -webkit-animation: show 1s ease-in 0s 1 normal forwards;
          animation: show 1s ease-in 0s 1 normal forwards;
}

.text.hide {
  -webkit-animation: hide 1s ease-in 0s 1 normal forwards;
          animation: hide 1s ease-in 0s 1 normal forwards;
}

@-webkit-keyframes show {
  100% {
    top: 10%;
  }
}

@keyframes show {
  100% {
    top: 10%;
  }
}

@-webkit-keyframes hide {
  0% {
    top: 10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes hide {
  0% {
    top: 10%;
  }
  100% {
    top: 100%;
  }
}

.container--desktop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 800px) {
  .container--desktop {
    margin: 0 50px;
  }
}

@media (min-width: 1200px) {
  .container--desktop {
    margin: 0 150px;
    height: 500px;
  }
}

@media (min-width: 1400px) {
  .container--desktop {
    margin: 0 200px;
  }
}

@media (min-width: 1600px) {
  .container--desktop {
    margin: 0 300px;
  }
}

.container--desktop .container__images {
  position: relative;
}

.container--desktop .container__textarea {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #181408;
}

.image-1 {
  background-image: url("../images/xgarda.jpg");
  opacity: 0;
}

.image-2 {
  background-image: url("../images/my.jpg");
  opacity: 0;
}

.image-3 {
  background-image: url("../images/joga.jpg");
  opacity: 0;
}

.container__image.fade {
  opacity: 1;
}

.circles {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.circles__circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #aad03d;
  border: 2px solid rgba(50, 43, 15, 0);
  margin: 0 10px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.circles .active {
  border: 2px solid #322b0f;
}

.about {
  background-color: rgba(196, 196, 196, 0.25);
  border-top: 1px solid #322b0f;
  border-bottom: 1px solid #322b0f;
}

.about h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

@media (min-width: 300px) {
  .about h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}

@media (min-width: 500px) {
  .about h2 {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 650px) {
  .about h2 {
    text-align: left;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .about h2 {
    font-size: 1.4rem;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .about h2 {
    font-size: 1.5rem;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .about h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .about h2 {
    font-size: 1.9rem;
  }
}

@media (min-width: 1600px) {
  .about h2 {
    font-size: 2rem;
  }
}

.about p {
  color: #181408;
  font-size: 1rem;
  padding: 1rem 1rem;
}

@media (min-width: 500px) {
  .about p {
    margin: 0;
    padding: 10px 0;
    font-size: 1rem;
  }
}

@media (min-width: 650px) {
  .about p {
    margin: 0;
    font-size: 0.95rem;
  }
}

@media (min-width: 800px) {
  .about p {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .about p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .about p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .about p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1600px) {
  .about p {
    font-size: 1.3rem;
  }
}

@media (min-width: 300px) {
  .about__image {
    padding-bottom: 10px;
    width: 350px;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .about__image {
    padding-bottom: 20px;
  }
}

@media (min-width: 650px) {
  .about__image {
    position: relative;
    width: 350px;
  }
}

@media (min-width: 800px) {
  .about__image {
    width: 350px;
  }
}

@media (min-width: 1400px) {
  .about__image {
    width: 400px;
  }
}

@media (min-width: 1600px) {
  .about__image {
    width: 450px;
  }
}

.about__image img {
  display: block;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 6px 4px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 6px 4px -2px rgba(0, 0, 0, 0.8);
}

@media (min-width: 650px) {
  .about__image img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .about__us {
    padding: 0 50px;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 650px) {
  .about__us {
    width: 50%;
    padding: 0 25px;
  }
}

@media (min-width: 800px) {
  .about__us {
    padding: 0 20px;
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about__container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 650px) {
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 25px;
  }
}

@media (min-width: 800px) {
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 50px;
  }
}

@media (min-width: 1200px) {
  .about__container {
    margin: 0 150px;
  }
}

@media (min-width: 1400px) {
  .about__container {
    margin: 0 200px;
  }
}

@media (min-width: 1600px) {
  .about__container {
    margin: 0 300px;
  }
}

.events__container {
  border-top: 1px solid #322b0f;
  border-bottom: 1px solid #322b0f;
  background-color: rgba(196, 196, 196, 0.25);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
}

.news__container {
  border-top: 1px solid #322b0f;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(196, 196, 196, 0.25);
  margin-bottom: 1rem;
}

.single-news {
  width: 200px;
  height: 200px;
  background-image: url("/images/Michał.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-box-shadow: 1px 1px 14px -2px #000000;
  box-shadow: 1px 1px 14px -2px #000000;
}

@media (min-width: 800px) {
  .single-news {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .single-news {
    width: 300px;
    height: 300px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  background-color: #181408;
  color: #aad03d;
  text-align: center;
  -webkit-box-shadow: 0px -5px 5px 1px rgba(24, 20, 8, 0.5);
  box-shadow: 0px -5px 5px 1px rgba(24, 20, 8, 0.5);
}

.footer__text {
  font-size: 24px;
}

.footer__text--author {
  font-size: 14px;
}

.newsletter__container {
  padding: 20px 0;
  background-color: rgba(196, 196, 196, 0.25);
  border-top: 1px solid #322B0F;
}

.newsletter__title {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  display: block;
  padding-top: 20px;
  font-size: 20px;
}

@media (min-width: 1200px) {
  .newsletter__title {
    font-size: 28px;
  }
}

.newsletter__modal {
  background-color: #181408;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 14px -2px #000000;
  box-shadow: 1px 1px 14px -2px #000000;
}

.newsletter__modal input {
  height: 50px;
  width: 60%;
}

.newsletter__modal label {
  color: #aad03d;
  font-weight: 500;
  padding: 10px 0;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .newsletter__modal label {
    font-size: 24px;
  }
}

.newsletter .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.nav__hamburger {
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  padding: 0 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

@media (min-width: 500px) {
  .nav__hamburger {
    height: 40px;
    width: 40px;
  }
}

.nav__hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #181408;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav__hamburger .line-1.active {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: #aad03d;
}

.nav__hamburger .line-2.active {
  opacity: 0;
  background-color: #aad03d;
}

.nav__hamburger .line-3.active {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(-45deg) translate(14px, -14px);
          transform: rotateZ(-45deg) translate(14px, -14px);
  background-color: #aad03d;
}

@media (min-width: 500px) {
  .nav__hamburger .line-3.active {
    -webkit-transform: rotateZ(-45deg) translate(19px, -19px);
            transform: rotateZ(-45deg) translate(19px, -19px);
  }
}

@media (min-width: 800px) {
  .nav__hamburger {
    display: none;
  }
}

@media (min-width: 500px) {
  .nav__hamburger {
    font-size: 42px;
    padding: 50px 50px;
    position: absolute;
    right: 0;
  }
}

@media (max-width: 300px) {
  .nav__hamburger {
    font-size: 36px;
  }
}

.info {
  margin-bottom: 10px;
}

.info__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 0 25px;
  padding: 3rem 0;
}

@media (min-width: 1200px) {
  .info__container {
    margin: 0 100px;
  }
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__item i {
  font-size: 40px;
  color: #aad03d;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.info__item i:hover {
  color: #4d5b2a;
}

.info__item p {
  display: none;
}

@media (min-width: 500px) {
  .info__item i {
    font-size: 50px;
  }
}

@media (min-width: 800px) {
  .info__item p {
    text-align: center;
    display: block;
    font-style: italic;
    color: #585757;
  }
  .info__item i {
    padding: 10px 0;
    font-size: 45px;
  }
}

@media (min-width: 1200px) {
  .info__item p {
    display: block;
    font-style: italic;
    color: #585757;
    font-size: 18px;
  }
  .info__item i {
    padding: 10px 0;
    font-size: 60px;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #322b0f;
}

.container .article {
  padding: 2rem 0;
  padding-left: 1rem;
  width: 100%;
  margin: 0 50px;
  font-size: 1.1rem;
}

@media (min-width: 650px) {
  .container .article {
    margin: 0 100px;
    width: 70%;
    padding-left: 5rem;
  }
}

@media (min-width: 800px) {
  .container .article {
    font-size: 1.2rem;
    margin: 0 100px;
    width: 70%;
    padding-left: 6.5rem;
  }
}

@media (min-width: 1000px) {
  .container .article {
    font-size: 1.2rem;
    margin: 0 100px;
    width: 70%;
    padding-left: 8rem;
  }
}

@media (min-width: 1400px) {
  .container .article {
    font-size: 1.3rem;
    margin: 0 100px;
    width: 60%;
    padding-left: 20rem;
  }
}

@media (min-width: 1600px) {
  .container .article {
    font-size: 1.4rem;
    margin: 0 250px;
    padding-top: 5rem;
    padding-left: 20rem;
  }
}

.container .article h2 {
  font-size: 2rem;
  font-weight: medium;
}

@media (min-width: 1400px) {
  .container .article h2 {
    font-size: 3rem;
  }
}

.container .article p {
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */